<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3" *ngIf="cartDetails;else msg">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="h2">Shop Cart</h1>
    <button (click)="clear()" class="btn btn-outline-danger">Clear All</button>
  </div>
  <div class="text-main">Total Price: {{cartDetails.totalCartPrice | currency:' EGP '}}</div>

  <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-1">
      <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
    </div>
    <div class="col-md-11 d-flex align-items-center justify-content-between">
      <div>
        <h3 class="h6">{{item.product.title}}</h3>
        <p class="text-main small m-0">Price: {{item.price| currency:' EGP '}}</p>
        <button (click)="removeItem(item.product._id, btnRemove)" #btnRemove class="btn p-0 m-0 text-main"><i class="fas fa-trash-can"></i> Remove</button>
      </div>
      <div>
        <button #btnMin (click)="changeCount(item.count - 1, item.product._id,btnMin,btnPlus)" class="btn btn-sm btn-outline-danger fs-5"> - </button>
        <span class="fs-5"> {{item.count}} </span>
        <button #btnPlus (click)="changeCount(item.count + 1, item.product._id,btnMin,btnPlus)" class="btn btn-sm btn-outline-success fs-5"> +</button>
      </div>
    </div>
  </div>
  <button [routerLink]="['/payment',cartDetails._id]" class="main-btn mt-3">Online Payment <img src="./assets/image/visa.svg" alt="visa_logo"></button>
</section>


<ng-template #msg>
  <h2 class="text-center">Your Cart Is Empty...</h2>
</ng-template>
