<nav #navBar
  class="navbar navbar-expand-md navbar-light bg-light fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/image/freshcart-logo.svg" alt="logo">
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/products" >Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/brands" >Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/categories" >Categories</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user fs-3 text-main"></i>
          </a>
          <ul class="dropdown-menu">
            <li role="button" routerLink="/forgotpassword" routerLinkActive="active-link"><a class="dropdown-item">Forgot Password</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/wishlist" >
            <i class="fa-solid fa-heart fs-2 text-danger"></i>
            <span class="badge bg-info position-absolute top-0 end-0">{{WishListNum}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/cart" >
            <i class="fas fa-cart-shopping fs-2 text-main"></i>
            <span class="badge bg-info position-absolute top-0 end-0">{{cartNum}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f fs-4"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram fs-4"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-linkedin fs-4"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-tiktok fs-4"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-twitter fs-4"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-youtube fs-4"></i></a>
        </li>
        <li class="nav-item">
          <span (click)="signOut()" role="button">
            <i class="fa-solid fa-right-from-bracket fs-2 mx-3 text-danger"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

