<section class="p-4">
  <div class="row g-0">
    <div class="col-md-9">
      <owl-carousel-o [options]="mainSlaidOptions">
        <ng-template carouselSlide>
          <img height="400" src="./assets/image/main-slider-1.jpeg" alt="slider1">
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" src="./assets/image/main-slider-2.jpeg" alt="slider2">
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" src="./assets/image/main-slider-3.jpeg" alt="slider3">
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3">
      <img height="200" class="w-100" src="../../../assets/image/slide-1.jpeg" alt="slide1">
      <img height="200" class="w-100" src="../../../assets/image/slide-2.jpeg" alt="slide2">
    </div>
  </div>
</section>
<section class="p-4" *ngIf="categorie.length > 0">
  <h2>Popular Categories</h2>
  <owl-carousel-o [options]="categorieOptions">
    <ng-container *ngFor="let categories of categorie">
      <ng-template carouselSlide>
        <img height="300px" [src]="categories.image" [alt]="categories.name" [title]="categories.name">
        <h3 class="h6 text-main">{{categories.name}}</h3>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
<section class="p-4" *ngIf="producte.length > 0">
  <h2>Popular Products</h2>
  <input type="text" class="form-control w-50 mx-auto form-control-sm my-3" placeholder="Search..." [(ngModel)]="term">
  <div class="row g-4">
    <div *ngFor="let product of producte | search:term | slice:0:18" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="product h-100">
        <i *ngIf="!WishlistData.includes($any(product._id))" (click)="addWish(product._id)" class="fa-regular fa-heart heart"></i>
        <i *ngIf="WishlistData.includes($any(product._id))" (click)="removeWish(product._id)" class="fa-solid fa-heart heart"></i>
        <header role="button" [routerLink]="['/productdetails', product._id]">
          <img class="w-100" [src]="product.imageCover" [title]="product.title" [alt]="product.title" >
          <h3 class="h6 small">{{product.title |cutText:3}}</h3>
          <h4 class="h6 text-main">{{product.category.name}}</h4>
          <div class="product-foot d-flex align-items-center justify-content-between small">
            <span>{{product.price | currency: 'EGP'}}</span>
            <span><i class="fas fa-star rating-color"></i>{{product.ratingsAverage}}</span>
          </div>
        </header>
        <footer>
          <button (click)="addProduct(product._id, addBtn)" #addBtn class="main-btn w-100 py-2">+Add To Card</button>
        </footer>
      </div>
    </div>
  </div>
</section>
